@model IEnumerable<Recipes.Models.Recipe>

@{
    ViewBag.Title = "Recipes";
    Recipes.Models.Client clnt = (Recipes.Models.Client)Session["Client"];
}

   
  
@using (Html.BeginForm("Search", "Recipes", FormMethod.Get))
{
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                Title:
            </div>
            <div class="col-md-10">
                <input type="text" name="title" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                Content:
            </div>
            <div class="col-md-10">
                <input type="text" name="content" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                Creation Date:
            </div>
            <div class="col-md-10">
                <input type="date" name="date" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" align="left">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
            <div class="col-md-offset-2 col-md-10" align="right">
                @if (clnt != null)
                {
                    <button type="button" class="btn">
                        @Html.ActionLink("Create a new Recipe", "Create")
                    </button>
                }
            </div>
        </div>
    </div>

    <hr/>
}
    @foreach (var recipe in Model)
    {
        <section>
            <article class="blogPost">
                <hr/>
                <header>
                    <h2>@Html.DisplayFor(modelItem => recipe.Category.Name)</h2>
                    <p>Posted on @Html.DisplayFor(modelItem => recipe.CreationDate) by <a href="#">@Html.DisplayFor(modelItem => recipe.Client.ClientName)</a> - <a href="#comments">@recipe.Comments.Count Comments</a>
                    </p>
                </header>

                <h3>
                    @Html.DisplayFor(modelItem => recipe.Title)
                </h3>
                @Html.DisplayFor(modelItem => recipe.Content)

                @if (clnt != null && clnt.IsAdmin)
                {
                    <div>
                        @Html.ActionLink("Edit", "Edit", new {id = recipe.Id}) |
                        @Html.ActionLink("Details", "Details", new {id = recipe.Id}) |
                        @Html.ActionLink("Delete", "Delete", new {id = recipe.Id})
                    </div>
                }

            </article>
        </section>
        <section id="comments">
            <h3>Comments</h3>
            @foreach (var comment in recipe.Comments)
            {
                <article>
                    <header>
                        <span>By @comment.Client.ClientName</span> at @comment.CreationDate
                    </header>
                    @comment.Content
                </article>
            }

            @if (clnt != null)
            {
                using (Html.BeginForm("PostComment", "Recipes"))
                {

                    <input type="hidden" name="clientId" value="@clnt.Id" />
                    <input type="hidden" name="recipeId" value="@recipe.Id" />

                    <div>
                        Content: <input type="text" name="content" />
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Post" class="btn btn-default" />
                        </div>
                    </div>
                    <br />
                }
            }
        </section>
    }

