@model IEnumerable<Recipes.Models.RecipeCommentViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statistics of the Recipes</h2>
@{

    var recipeComments = Model;
}

<h2 class="page-title">@ViewBag.Title</h2>
<p>The most popular reviewers by how much they write recipes.</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfComment)
        </th>
    </tr>

    @{
        foreach (var recipe in recipeComments)
        {
            <tr>
                <td>
                    @recipe.Title
                </td>
                <td>
                    @recipe.NumberOfComment
                </td>
            </tr>
        }
    }

</table>

<style>
    .bar {
        fill: steelblue;
        transition: fill 3s;
    }

        .bar:hover {
            fill: brown;
        }

    .axis {
        font: 10px sans-serif;
    }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }
</style>
<section id="popular-recipes-graph">
    <h3>Bar Chart</h3>
</section>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="~/Scripts/graph.js"></script>
<script>
    // print JSON data
    $.ajax({
        url: '/Recipes/StatsJson',
        success: function (result) {
            var usersData = result;
            createPopularRecipesGraph(usersData);
        },
        error: function(hxr, status, err) {
            console.log('status: ' + status + ', error: ' + err);
        }
    });

</script>