@{
    MusicBox.Models.Client clnt = (MusicBox.Models.Client)Session["Client"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Music Box", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Posts", "Index", "Posts")</li>
                    @if (clnt != null && clnt.isAdmin)
                    {
                        <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                    }
                    @if (clnt != null && clnt.isAdmin)
                    {
                        <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                    }
                    <li>@Html.ActionLink("Users Statistics", "Stats", "Clients")</li>
                    <li>@Html.ActionLink("Posts Statistics", "Stats", "Posts")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <center>
            <div id="temperatureDiv">
                <h4>Weather</h4>
                <p>getting info...</p>
            </div>
        </center>

        <!-- Weather service -->
        <script src="~/Scripts/weather.js"></script>
        <script src="https://query.yahooapis.com/v1/public/yql?q=select item, wind from weather.forecast where woeid in (select woeid from geo.places(1) where text='jerusalem, il') and u='c'&format=json&callback=weatherCallback"></script>
        <hr />
        <footer>
            <center>
                <p>&copy; @DateTime.Now.Year - EST - Music Box </p>
            </center>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
